<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credenciales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
		crossorigin="anonymous">
	<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	
	<div style="background: ghostwhite; 
            font-size: 30px; 
            padding: 10px; 
            border: 10px solid lightgray; 
            margin: 10px;">
            
     	<p style="text-align: center;"><strong>Bienvenido a una secretico</strong></p>
	<p style="text-align: center;"><strong> Credenciales Administrador: </strong></p>
	<p style="text-align: center;">usuario:admin</p>
	<p style="text-align: center;">password: admin</p>
	<p style="text-align: center;"><strong> Credenciales Operador </strong></p>
	<p style="text-align: center;">usuario: user</p>
	<p style="text-align: center;">password: user</p>
	<p style="text-align: center;"><a href="/login">Acceso</a></p>
	<p style="text-align: center;"><br></p>
	<p style="text-align: center;"><br></p>       
	</div>
<p><br></p>
<p><br></p>
</body>
</html>