<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acceso</title>
</head>
<body>

	<p style="text-align: center;"><strong>Bienvenido!</strong></p>
	<p style="text-align: center;">Credenciales Administrador: usuario: admin pass: admin</p>
	<p style="text-align: center;">Credenciales Operador &nbsp; &nbsp; : usuario: user &nbsp;pass: user</p>
	<p style="text-align: center;"><a href="/login">Acceso</a></p>
	<p style="text-align: center;"><br></p>
	<p style="text-align: center;"><br></p>
<p><br></p>
<p><br></p>
</body>
</html>